
      body{
        background-color: #e6e6e6;
        font-family: sans-serif;
      }

      nav{
        background-color: #3f3f3f;
        padding: 20px;
      }
      ul{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        display: flex;
      }
      a{
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
      }
      h1{
        text-align: center;
        font-weight: bold;
        font-size: 2em;
      }
      img{
        display: block;
        margin: 0 auto;
        border-radius: 50%;
      }
      button{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      h2{
        font-weight: bold;
        font-size: 1.5em;
      }
      p{
        font-size: 1.2em;
      }
      ul{
        font-size: 1.2em;
      }
      footer{
        background-color: #3f3f3f;
        padding: 20px;
        color: #fff;
        font-size: 1.2em;
      }
      @media screen and (max-width: 600px){
        body{
          background-color: #e6e6e6;
          font-family: sans-serif;
        }
        nav{
          background-color: #3f3f3f;
          padding: 10px;
        }
        ul{
          list-style: none;
          margin-left: 0;
          padding-left: 0;
          display: flex;
        }
        a{
          color: #fff;
          text-decoration: none;
          font-weight: bold;
          padding: 5px;
        }
        h1{
          text-align: center;
          font-weight: bold;
          font-size: 1.5em;
        }
        img{
          display: block;
          margin: 0 auto;
          border-radius: 50%;
        }
        button{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        }
        h2{
          font-weight: bold;
          font-size: 1em;
        }
        p{
          font-size: 0.8em;
        }
        ul{
          font-size: 0.8em;
        }
        footer{
          background-color: #3f3f3f;
          padding: 10px;
          color: #fff;
          font-size: 0.8em;
        }
      }

